[mysqld]
skip-name-resolve
user = mysql
 
report-host = github
server-id   = 1
#binlog-ignore-db = mysql
#replicate-ignore-db = mysql
#binlog_format = STATEMENT
 
#log-bin = /data/mysql/mysqld-bin
#relay-log = /data/mysql/mysqld-relay-bin
#log-slave-updates
 
log-warnings
log-error = /var/log/mysql/mysql.err.log
slow_query_log      = 1
slow_query_log_file = /data/mysql/mysqld-slow.log
long_query_time     = 5.0
log_queries_not_using_indexes = 0
 
 
datadir  = /data/mysql
socket   = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
tmpdir   = /tmp
port = 3306
 
wait-timeout      = 100
#slave_net_timeout = 10
#master-connect-retry = 10
 
skip-character-set-client-handshake
ft_min_word_len = 4
skip-secure-auth
log_bin_trust_function_creators = 0
 
#--------------
# connection
max_connect_errors = 30000
max_connections    = 1000
thread_cache_size  = 300
thread_concurrency = 8
table_open_cache   = 8192
back_log           = 10240
max_allowed_packet = 67108864
 
#---------------
# global buffer
key_buffer_size         = 32M
 
### github
innodb_buffer_pool_size = 28G
### github-ext
#innodb_buffer_pool_size = 2G
### github-stg
#innodb_buffer_pool_size = 256M
 
innodb_log_buffer_size  = 8M
innodb_additional_mem_pool_size = 10M
 
#---------------
# thread buffer
sort_buffer_size        = 2M
myisam_sort_buffer_size = 64K
read_buffer_size        = 1M
 
#---------------
# innodb
innodb_data_home_dir            = 
innodb_log_group_home_dir       = ./
innodb_data_file_path           = ibdata1:10M:autoextend
innodb_doublewrite              = 1
innodb_log_files_in_group       = 3
innodb_log_file_size            = 1024M
innodb_flush_log_at_trx_commit  = 1
innodb_lock_wait_timeout        = 50
innodb_flush_method             = O_DIRECT
innodb_adaptive_hash_index      = 0
innodb_thread_concurrency       = 30
innodb_read_io_threads          = 16
innodb_write_io_threads         = 16
innodb_io_capacity              = 200
innodb_stats_on_metadata        = 0
 
default-storage-engine  = InnoDB
transaction-isolation   = REPEATABLE-READ
open-files-limit        = 65535
core-file
 
 
#---------------
# innodb plugin
ignore-builtin-innodb
plugin-load = innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so
 
[mysqld_safe]
core-file-size=unlimited
 
[mysql.server]
user=mysql
service-startup-timeout=10
 
[mysqld]
character-set-server = utf8
 
[mysql]
default-character-set = utf8
 
[mysqldump]
default-character-set = utf8
 
[client]
loose-default-character-set = utf8
loose-skip-secure-auth
